body {
	background: black;
}

#canvas1 {
	position: absolute;
	top: 50%;
	left: 38%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
}

#truckImageFlat,
#truckImageDecline,
#truckImageIncline {
	display: none;
}
