* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
}

body {
  background: black;
}

main {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 1px solid white;

  padding: 20px;
  width: 1000px;
  height: 720px;
}

#scoreboard {
  visibility: hidden;
  position: absolute;
  z-index: 2000;
  top: 88px;
  background-color: black;
  opacity: 80%;
  width: 682px;
  height: 652px;
}
/* #gameEndMessage {
  padding-top: 10px;
} */
#gameEndStat {
  visibility: none;
  padding-bottom: 80px;
  font-size: 90px;
}

#leaderboard {
  display: none;
}

#leaderboardDisplay {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 140px;
}

/* #names {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */

#gameEndScreen {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 60px;
  font-weight: 300;
  align-items: center;
  height: 100%;
}

#gameEndButtons {
  visibility: none;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  padding-bottom: 120px;
  width: 100%;
  bottom: -70px;
}

.gameEndButton {
  background: none;
  font-size: 30px;
  font-weight: 300;
  border-width: 1px;
  border-color: white;
  padding-top: 13px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  /* text-align: center; */
}

section {
  float: left;
  width: 68%;
  height: 700px;
}

aside {
  width: 30%;
  float: right;
}

#fpBox {
  display: flex;
  border-style: solid;
  position: relative;
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-color: white;
  justify-content: space-evenly;
}

#fpBar {
  background-color: green;
  opacity: 80%;
  width: 75%;
  height: 100%;
}

#fpBarLine {
  position: absolute;
  /* position: relative; z-index: 4000;  */
  color: BLACK;
  font-weight: 900;
  /* border : 1px solid black; */
  opacity: 0.8;
  background: repeating-linear-gradient( 45deg, 
  #f96060, 
  #f96060 2px,
  #f8a4a4 2px, 
  #f8a4a4 5px );
  /* background-color: rgb(97, 235, 120); */
  /* border: 1px solid black; */
  width: 29%;
  margin-left: 401px;
  text-align: center;
  height: 27.5px;
  line-height: 26.5px;
  bottom: 11px;
}

#fpInput {
  align-self: center;
  width: 88%;
  height: 55%;

  /* CHANGE COLOUR IN JS */
  background-color: white;
}

#status {
  position: absolute;
  z-index: 1000;
  top: 90px;
  left: 30px;
  font-size: 28px;
  font-weight: 200px;
}

#fp {
  line-height: 50px;
  font-size: 28px;
  font-weight: 600;
}

#canvas1 {
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
}

#distanceBox {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid white;
}

#distance {
  padding: 0px 10px 0px 10px;
  line-height: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

#kmhBox {
  width: 100%;
  height: 240px;
  margin-bottom: 20px;

  text-align: center;
  border: 1px solid white;
}

#kmhInput {
  font-size: 150px;
  font-weight: 900;
  line-height: 170px;
}

#kmh {
  font-size: 28px;
  font-weight: 600;
}

#ecoBox {
  width: 100%;
  height: 170px;
  margin-bottom: 20px;
  border: 1px solid white;
}

table {
  width: 100%;
  text-align: center;
}

th {
  font-size: 48px;
  font-weight: 800;
  line-height: 65px;
}

td {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}


#nameBox {
  width: 100%;
  margin-bottom: 20px;
}

#name {
  padding: 0px 10px;
  font-size: 48px;
  font-weight: 900;
}

#truckImageFlat,
#truckImageDecline,
#truckImageIncline,
#truckImageFlatHaul {
  display: none;
}

input {
  color: black;
}

#startgameID {
  color: black;
}

.playerStartScreen {
  text-align: center;
}