* {
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: larger;
}

main {
    background-color: white;
    height: 600px;
    width: 500px;

    padding: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}